/* 向上移动 */
@keyframes moveUp {
    from { transform: translateY(0); }
    to { transform: translateY(var(--y)); }
}

/* 向下移动 */
@keyframes moveDown {
    from { transform: translateY(0); }
    to { transform: translateY(var(--y)); }
}

/* 向右移动 */
@keyframes moveRight {
    from { transform: translateX(0); }
    to { transform: translateX(var(--x)); }
}

/* 向左移动 */
@keyframes moveLeft {
    from { transform: translateX(0); }
    to { transform: translateX(var(--x)); }
}