.game-container,.game-container-bg {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 15px;
    justify-content: center;
    align-items: center;
    position: fixed;    /* 这里更改了position的属性值为fixed（原本为absolute） */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid var(--grid-bg-color);
    border-radius: 6px;
    box-shadow: 1px 2px 6px #808080;
}

.game-container-bg {
    background-color: var(--grid-bg-color);
    z-index: -1;
}

.grid, .grid-bg {
    width: 100px;
    height: 100px;
    background-color: var(--grid-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 2px 2px 4px var(--shadow);
    border-radius: 6px;
    box-shadow: 0 3px 3px var(--grid-shadow);
}


.containerAll{
    top: 50%;
    left: 50%;
    width: 500px;
    height: 800px;
    justify-content: center;
    align-items: center;
    position: fixed;
    transform: translate(-50%, -50%);
}